/**
 * Styles for Hippo Cool Project
 */

 /* Footer Styles */
.blue {
    background-color: #3F729B;
}
.page-footer {
    padding: 2%;
}
footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,.6);
    background-color: #1C2331;
    padding: 1% 0%;
}
footer a {
    color: rgba(255,255,255,.6);
    text-decoration: none;
}
footer a:hover {
    color: rgba(255,255,255,.8);
    text-decoration: none;
}